<!-- <h2>My Heroes</h2> -->

<!-- <ul class="articles">
  <div *ngFor="let item of article">
      <h3>{{item.titre}}</h3>
      <p>{{item.description}}</p>
      <button type="button" class="btn btn-primary" (click)="goToDetails()">Details</button>
  </div>
</ul> -->
<div class="col-md-4 offset-md-2" >
<div class="card" style="width: 70rem;" >
  <div class="card-body" *ngFor="let item of article">
    <h5 class="card-title">{{item.titre}}</h5>
    <p class="card-subtitle mb-2 text-muted">{{item.description}}</p>
    <button  type="button" class="btn btn-primary" (click)="goToDetails()">Voir plus</button>
  </div>
</div>
</div>