/* HeroDetailComponent's private CSS styles */
.card{
    display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
     
        box-sizing: border-box;
            width: 50%;
            margin: 20px auto;
            padding: 10px 30px;
            box-shadow: lightgray 4px 4px 20px;            
}
